**[Slide No. 41]**

1. Write a Python program to create a set.

In [2]:

s1 = {1,2,3,4}
print(type(s1))

<class 'set'>

**[Slide No.41]**

2. Write a Python program to add member(s) in a set.

In [4]:
s1 = {1,2,3,4}
s1.add(5)
print(s1)

{1, 2, 3, 4, 5}

**[Slide No. 41]**
 
 3. Write a Python program to add string , int, list and float  member(s) in a set.

**[Slide No. 41]**

4. Write a program to add multiple element in set.

In [11]:
s1 = {1,2,3,4}
s2 = [5,6]
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6}

**[Slide No. 43]**

5. What is the output :

my_set = {1, 3, 4, 5, 6}

Explain the difference between discard and remove method in set

In [12]:
my_set = {1, 3, 4, 5, 6}

In [ ]:
#remove functions only if element is present in the set,else an error is thrown. Discard doesnt thrown an error even if the element is  not in the set

**[Slide No. 42]**

6. Write a program to remove duplicate value from set.

In [14]:
set1={1,2,3,4,4,5,4,3,5}
print(set1)   #no duplicates allowede in set, its automatically removes the repeated elements.

{1, 2, 3, 4, 5}

7.  Write a Python program to clear a set.

In [16]:
set1={1,2,3,4,4,5,4,3,5}
print(set1)
set1.clear()
print(set1)

{1, 2, 3, 4, 5}
set()

**[Slide No. 43]**

8. Write a program to add two set.

In [18]:
set1={1,2,3,4,4,5,4,3,5}
set2={'red','blue'}
set1.update(set2)
set1

{1, 2, 3, 4, 5, 'blue', 'red'}

**[Slide No. 43]**

9. What is the output of:

months = set(["January","February", "March", "April", "May", "June"])   

print("\nprinting the original set ... ")    

-Q. Print the set month    

print("\nRemoving some months from the set...");    

-Q. Remove january  from the set    

-Q. Remove may  from the set  


print("\nPrinting the modified set...");    

print(months)

In [19]:
months = set(["January","February", "March", "April", "May", "June"])
print(months)

{'April', 'June', 'January', 'May', 'February', 'March'}

In [23]:
months = set(["January","February", "March", "April", "May", "June"])
print("\nRemoving some months from the set...")
months.remove('January')
print(months)

Removing some months from the set...
{'April', 'June', 'May', 'February', 'March'}

In [25]:
months.remove('May')
print(months)

{'April', 'June', 'February', 'March'}

**[Slide No. 44]**

10. Find union of

Days1 = {"Monday","Tuesday","Wednesday","Thursday"}
    
Days2 = {"Friday","Saturday","Sunday"}

In [26]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday"}

Days2 = {"Friday","Saturday","Sunday"}
Days1.union(Days2)

{'Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Tuesday', 'Wednesday'}

**[Slide No. 45]**

 11. Write a Python program to create an intersection of sets.

In [28]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday",'Sunday'}

Days2 = {"Friday","Saturday","Sunday"}
Days1.intersection(Days2)

{'Sunday'}

**[Slide No. 45]**

12. Write a Python program to create set difference.

In [31]:
Days1 = {"Monday","Tuesday","Wednesday","Thursday",'Sunday'}

Days2 = {"Friday","Saturday","Sunday",'Monday'}
Days1.difference(Days2)

{'Thursday', 'Tuesday', 'Wednesday'}