[Slide No- 39]

1. Create empty tuple and check its Data type.

In [2]:
T1=(1,2,3,4)
type(T1)

tuple

**[Slide No. - 39]**



2. Check the output : 
T1 = (101, "Peter", 22)    

T2 = ("Apple", "Banana", "Orange") 

T3 = (10,20,30,40,50)  

Print Data type of each tuple.

In [3]:
T1 = (101, "Peter", 22)
T2 = ("Apple", "Banana", "Orange")
T3 = (10,20,30,40,50)

In [5]:
print(type(T1))
print(type(T2))
print(type(T3))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

**[Slide No. - 40]**

3.Write the program to print 0 index item of tuple .

tup = (1,2,3,4,5,6,7)

In [7]:
tup = (1,2,3,4,5,6,7)
print(tup[0])

1

**[Slide No. - 40]**

4.  What is the output of the program  

tup = (1,2,3,4,5,6,7)

print(tup[8])

In [8]:
tup = (1,2,3,4,5,6,7)

print(tup[8])

IndexError: tuple index out of range

**[Slide No. 40]**

5.  Write a program to concate two tuple.

In [11]:

T1=(1,2)
T2=(3,4)
T3=T1+T2
print(T3)

(1, 2, 3, 4)

**[Slide No. 40]**

6 .  Write a program to create the tuple and delete the items?

In [19]:
t1=(1,2,3,4,5,6)
l1=list(t1)
del l1[:]

In [20]:
print(l1)

[]

**[Slide No. 40]**

7. Write a program to delete  2 index value from  tuples?

In [24]:
t1=(1,2,3,4,5,6)

In [26]:

l2=list(t1)
l2.pop(2)

3

**[Slide No. 40]**

8. Check the output of 
tuple1 = (1, 2, 3, 4, 5)    

using negative indexing print last two item of tuple

using negative indexing print '4' from the tuple

using negative indexing print all items of the list

In [35]:
tuple1 = (1, 2, 3, 4, 5)
print(tuple1[-2:])

(4, 5)

In [37]:
print(tuple1[-2:-1])

(4,)

In [39]:
len(tuple1)

5

In [40]:
print(tuple1[-5:])

(1, 2, 3, 4, 5)