# 1. Print multiplication table of 24 and 50 upto 10

In [2]:
i = 1  
print("Multiplication Table of: 24 ")  
while i<=10:  
     
    print(24,'x',i,'=',24*i)  
    i += 1  
i=1
print("Multiplication Table of: 50 ")  
while i<=10:  
 
    print(50,'x',i,'=',50*i)  
    i += 1

Multiplication Table of: 24
24 x 1 = 24
24 x 2 = 48
24 x 3 = 72
24 x 4 = 96
24 x 5 = 120
24 x 6 = 144
24 x 7 = 168
24 x 8 = 192
24 x 9 = 216
24 x 10 = 240
Multiplication Table of: 50
50 x 1 = 50
50 x 2 = 100
50 x 3 = 150
50 x 4 = 200
50 x 5 = 250
50 x 6 = 300
50 x 7 = 350
50 x 8 = 400
50 x 9 = 450
50 x 10 = 500

# 2.Write a while loop statement to print the following series 107,100,93,86....9

In [5]:
i=107
while(i>=9):
    print(i)
    i=i-7

107
100
93
86
79
72
65
58
51
44
37
30
23
16
9

# 3. Write a program to print the factorial of a number accepted from user.

In [8]:
num = int(input("Enter a number: "))    
f = 1    
if num < 0:    
   print(" Factorial does not exist for negative numbers")    
elif num == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,num + 1):    
       f = f*i    
   print("The factorial of",num,"is",f)

Enter a number: 4
The factorial of 4 is 24

# 4.Write a program to accept 10 numbers from the user and display it’s average

In [ ]:
i=1
m=0
print("Enter 10 Numbers")
while(i<11):
   
    n=int(input())
    m=m+n
    i=i+1
print("Avg Of Entered Numbers is : ", m/10)

# 5. Write a program to print the following series till n terms. 2 , 22 , 222 , 2222 _ _ _ _ _ n terms

In [ ]:
a = 2
b = 1
while(b <= 5):
    
    print(a)
    a = a * 10 + 2
    b = b + 1

# 6.Write a Program to print all the characters in the string ‘PYTHON’ using while loop.

In [ ]:
str1="python"
i=0
while(i<len(str1)):
    print(str1[i])
    i=i+1